/* BEGIN builder-row-5410ad42afc09 */
{
background-color: #f5f5f5;
border-color: #f5f5f5;
border: 2px solid #f5f5f5;
padding: 1em;
}
/* END builder-row-5410ad42afc09 */
/* BEGIN builder-row-5411fb01c0246 */
background-color: #fbf7f3
/* END builder-row-5411fb01c0246 */
/* BEGIN builder-row-5410c43edbe94 */
<div class="layout">style="background-color: #3b86b0;padding-top: 120px;padding-bottom: 120px;"</div>
/* END builder-row-5410c43edbe94 */
